@tailwind base;
@tailwind components;
@tailwind utilities;

body{background: #0b0c10;}
.header-main{background: rgb(0 17 22 / 80%);}
.banner-overlay{position: relative;}
.banner-overlay:after{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.6);}
.banner-overlay .banner-text{position: relative; z-index: 9;}
.hamburger-menu{transform: translateY(-50%);}
.hamburger-menu-line{width: 20px; height: 2px; background: #000; display: block;}
.menu-block{position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 49; clip-path: circle(30px at calc(100% - 65px) 65px);  transition: all 0.5s ease-in-out;}
.menu-block.active{clip-path: circle(100%); background: #0B0C10;}
.menu-block.active .hamburger-menu{color: #fff; display: block;}
.nav-item-inactive, .red-text{color: #45A29Efc;}
.nav-item-inactive:hover{color: #66FCF1}
.nav-item-active{color: #66FCF1;}
.hamburger .line{width: 35px; height: 5px; background-color: #66FCF1; display: block; margin: 0 auto; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; z-index: 11;}
.hamburger .line:nth-child(2){margin: 6px auto;}
.hamburger:hover{cursor: pointer;}
#hamburger-6.isActive{-webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -webkit-transition-delay: 0.6s; -o-transition-delay: 0.6s; transition-delay: 0.6s; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
#hamburger-6.isActive .line:nth-child(2){width: 0px;}
#hamburger-6.isActive .line:nth-child(1),
#hamburger-6.isActive .line:nth-child(3){-webkit-transition-delay: 0.3s; -o-transition-delay: 0.3s; transition-delay: 0.3s;}
#hamburger-6.isActive .line:nth-child(1){-webkit-transform: translateY(11px); -ms-transform: translateY(11px); -o-transform: translateY(11px); transform: translateY(11px);}
#hamburger-6.isActive .line:nth-child(3){-webkit-transform: translateY(-11px) rotate(90deg); -ms-transform: translateY(-11px) rotate(90deg); -o-transform: translateY(-11px) rotate(90deg); transform: translateY(-11px) rotate(90deg);}
.movie-search-card{width: 95%; padding: 12px 20px; left: 24px; height: 380px; overflow-y: auto;}
.star-icon ion-icon{color: #f5c518; font-size: 14px; margin-right: 5px;}
.red-btn{border: 1px solid #66FCF1; color: #66FCF1;}
.text-ellipses-multiline{display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.top-rated-movie-list{border-bottom: 1px solid #ccc;}
.top-rated-movie-list:last-child{border-bottom: none;}
.top-rated-movie-block{border-right: 1px solid #ccc; padding-right: 20px;}
.top-rated-index{position: relative; padding-right: 10px;}
.top-rated-index:after{content: ''; position: absolute; top: 50%; right: 0; transform: translateY(-50%); width: 1px; height: 100%; background: #45A29E;}
.search-icon ion-icon{color: #66FCF1; font-size: 36px;}
.border-btm-gray{border-bottom-color: #ccc;}
.swiper-button-prev, .swiper-button-next{background: #28ffef;}
.swiper-button-prev:after, .swiper-button-next:after{font-size: 24px !important;}
.movie-detail-overlay{z-index: -1;}
.movie-detail-overlay:after{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to left, 
    hsla(0, 0%, 0%, 1) 0%, 
    hsla(0, 0%, 0%, 0.738) 19%, 
    hsla(0, 0%, 0%, 0.541) 34%, 
    hsla(0, 0%, 0%, 0.382) 47%, 
    hsla(0, 0%, 0%, 0.278) 56.5%, 
    hsla(0, 0%, 0%, 0.194) 65%, 
    hsla(0, 0%, 0%, 0.126) 73%, 
    hsla(0, 0%, 0%, 0.075) 80.2%, 
    hsla(0, 0%, 0%, 0.042) 86.1%, 
    hsla(0, 0%, 0%, 0.021) 91%, 
    hsla(0, 0%, 0%, 0.008) 95.2%, 
    hsla(0, 0%, 0%, 0.002) 98.2%, 
    hsla(0, 0%, 0%, 0) 100%
  );}
.detail-text-body{background-image: linear-gradient(to right, #000, #000);}
.trending-series-title:before{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 1px; background-color: #484848;}

/* Responsiv CSS Start */
@media(max-width: 769px){
  .container{padding: 20px;}
  .top-rated-movie-block{border-right: none;}
}
/* Responsiv CSS End */